body {
    font-family: sans-serif; 
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
}

label {
    display: block;
}

input,
textarea,
select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 4px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

footer {
    text-align: center;
}

a {
    color: #333;
}

a:hover {
    color: #666;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212; /* Dark background */
        color: #ffffff; /* Light text */
    }

    main {
        background-color: #121212; /* Darker main background */
    }

    input, textarea, select {
        background-color: #333; /* Darker input fields */
        color: #ffffff; /* Light text in input fields */
        border-color: #444; /* Darker border */
    }

    button {
        background-color: #555; /* Darker button background */
        color: #fff; /* Light button text */
    }

    footer {
        background-color: #121212; /* Dark footer background */
        color: #ffffff; /* Light footer text */
    }

    a {
        color: #ddd; /* Lighter link color */
    }

    a:hover {
        color: #ffffff; /* Lighter hover color */
    }
}